html, body, div, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	border: 0;
	vertical-align: baseline
}

body {
	background: #2b333e;
}

.clear {
	clear: both;
}

.logo {
	width: 30%;
	height: 400px;
	margin: 100px auto 0;
	background: #2b333e;
}

.header {
	height: 100px;
	margin-top: 50px;
	margin-bottom: 0px;
	text-align: center;
}

.header img {
	position: absolute;
	top: 60px;
	left: 170px;
}

.header h1 {
	line-height: 70px;
	color: white;
}

.content {
	height: 230px;
	text-align: center;
}

.userName, .passWord {
	width: 90%;
	margin: 10px auto;
	padding-left: 10px;
	font: 17px/30px "Î¢ÈíÑÅºÚ";
	background: #fdfdfd;
}

.check-box {
	float: left;
	margin-left: 4%;
	width: 20px;
	height: 20px;
	display: inline-block;
	color: white;
}

.content label {
	float: left;
}

.logo-button {
	cursor: pointer;
	width: 92%;
	height: 40px;
	color: white;
	margin-top: 40px;
	margin-left: 4%;
	font: 20px/40px "Î¢ÈíÑÅºÚ";
	background: #00abff;
	width: 92%;
}
/*.logo-button:hover{
	background: #0284c4;
}*/